
<br /><br />
<div class="col-md-6 col-md-offset-2">
    <h3>Add User</h3>
    <br />

    <!-- Designing Add User Form-->
    <form [formGroup]="addForm" (ngSubmit)="onSubmit(a.value,b.value,c.value)">

        <div class="form-group">
            <label for="firstName">First Name: </label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName" #a/>

            <!-- <div *ngIf="submitted && addForm.controls.firstName.errors" class="error">
                <div class="text-danger" *ngIf="addForm.controls.firstName.errors.required">
                    FirstName is required ..
                </div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="lastName">Last Name: </label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName" #b/>

            <!-- <div *ngIf="submitted && addForm.controls.lastName.errors" class="error">
                <div class="text-danger" *ngIf="addForm.controls.lastName.errors.required">
                    LastName is required ..
                </div>
            </div> -->
        </div>
        <div class="form-group">
            <label for="email">Email Address: </label>
            <input type="email" class="form-control" formControlName="email" id="email" #c/>

            <!-- <div *ngIf="submitted && addForm.controls.email.errors" class="error">
                <div class="text-danger" *ngIf="addForm.controls.email.errors.required">
                    Email is required ..
                </div>
                <div class="text-danger" *ngIf="addForm.controls.email.errors.email">
                    Invalid Email ..
                </div>
            </div> -->
        </div>

        <button class="btn btn-success" >Save</button> &nbsp;&nbsp;
        <button class="btn btn-danger" type="reset">Cancel</button>
        &nbsp;&nbsp;
        <a class="btn btn-warning" [routerLink]="['/User']">Back to List</a>
        <br /><br />


    </form>
</div>
====================================================================