<!-- <p style="background-color:blue ;font-size:300%">this is root component</p> -->
<nav class="navbar navbar-expand-lg navbar-light table-hower bg-danger">
    <div class="container">
        <ul class="nav navbar-nav">
            <li > <a class="navbar-brand" routerLink="/">Home </a></li>
            <li ><a class="navbar-brand" routerLink="/about">About Us</a></li>
            <li> <a class="navbar-brand" routerLink="/contact">Contact Us</a></li>
            <li> <a class="navbar-brand" routerLink="/emp">Employee</a></li>
            <li> <a class="navbar-brand" routerLink="/empList">Employee List</a> </li>
            <li><a class="navbar-brand" routerLink="/reactiveList">Reactive list</a> </li>
            <li><a class="navbar-brand" routerLink="/User">User</a> </li>
            <li><a class= "navbar-brand" routerLink="/ngclass">ngClass</a>  </li>
        </ul>
    </div>
</nav>
<!-- <app-parent></app-parent> -->
<router-outlet></router-outlet>
<!-- <app-emp></app-emp>
<app-contact></app-contact>
<app-home></app-home> -->

